

<div class="inventaire" id="inventaire">
</div>
<footer>
        <div>
            <a href="#"><img src="src/img/inventaire.png" alt="" class="iconefooter" id="btninventaire"></a>
            <img src="src/img/book.png" alt="" class="iconefooter">
            <img src="src/img/carac.png" alt="" class="iconefooter">
            <img src="src/img/carte.png" alt="" class="iconefooter">
        </div>
</footer>
<script src="Asset/js/jquery.js"></script>
<script src="Asset/js/jquery-ui.js"></script>
<script src="Asset/js/index.js"></script>
</body>
</html>

